<div class="row">
  <div class="onecol">
  </div>
  <div class="tencol">
<table>
	<thead>
		<th><%= @semester.semester %> <%= @semester.year.strftime('%Y') %> Officers</th>
	</thead>
 
  <tr class="tableTitle">
    <td>User</td>
    <td>Position</td>
    <td></td>
    <td></td>
  </tr>

<% @user_positions.each do |user_position| %>
  <tr>
    <td><%= link_to user_position.user.proper_name, user_path(user_position.user) %></td>
    <td><%= user_position.position.name %></td>
    <td><%= link_to 'Edit', edit_user_position_path(user_position) %></td>
    <td><%= link_to 'Delete', user_position, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="actions">
<%= will_paginate @user_positions, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<%= link_to 'Edit', edit_semester_path(@semester), :class => 'btn' %> 
<%= link_to 'Back', semesters_path, :class => 'btn' %>

</div>
  </div>
  <div class="onecol last">
  </div>
</div>


