<table>
  <tr class="tableTitle">
    <td>Name</td>
    <td></td>
    <td></td>
  </tr>

  <% @positions.each do |position| %>
  <tr>
    <td><%= link_to position.name, position_path(position) %></td>
    <td><%= link_to 'Edit', edit_position_path(position) %></td>
    <td><%= link_to 'Delete', position, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<div class="actions">
<%= will_paginate @positions, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
<%= link_to 'New Position', new_position_path, :class => 'btn' %>
</div>