<%= nested_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :pledge_name %>
    <%= f.text_field :pledge_name %>
  </div>
  <div class="field">
    <%= f.label :class_name %>
    <%= f.select(:class_name, User::CLASS_LIST, :prompt => "Select Class...") %>
  </div>
  <div class="field">
    <%= f.label :birthday %>
    <%= f.date_select :birthday, { :start_year => Date.today.year-30, :end_year => Date.today.year, :order => [:month, :day, :year] }, { :class => "medium" } %>
  </div>
  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.check_box :alumni %> <%= f.label :alumni %>
  </div>
  <% if controller.action_name != 'edit' && controller.action_name != 'update' %> 
    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>
  <% end %>
  <%= f.fields_for :user_positions do |builder| %>
    <%= render :partial => 'user_position_fields', :locals => { :f => builder } %>      
  <% end %> 
  <div class="actions">
    <div class="nested">
      <%= f.link_to_add("Add Position", :user_positions) %><br/>
    </div>
    <%= f.submit :class => 'btn' %>
    <%= link_to 'Back', users_path, :class => 'btn' %>
  </div>
<% end %>
