  <div class="field">
    <%= f.label :position_id %>
    <%= f.collection_select :position_id, Position.all, :id, :name, :prompt => "Select... " %>
  </div>
  <div class="field">
    <%= f.label :semester_id %>
    <%= f.collection_select :semester_id, Semester.all, :id, :name, :prompt => "Select... " %>
  </div>

<div class="remove">
  <%= f.link_to_remove("Remove Position") %>
</div><br/>