    <table>
      <tr class="tableTitle">
        <td><%= sortable "last_name", 'Name' %></td>
        <td><%= sortable 'class_name', "Class" %></td>
        <td>Phone</td>
        <td><%= sortable 'alumni' %></td>
        <td></td>
        <td></td>
      </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.proper_name, user_path(user) %></td>
        <td><%= user.class_name %></td>
        <td><%= number_to_phone user.phone %></td>
        <td><%= "#{(user.alumni)? 'X' : ''}" %></td>
        <% if can? :update, user %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <% else %>
            <td></td>
        <% end %>
        <% if can? :destroy, user %>
            <td><%= link_to 'Remove', user, confirm: 'Are you sure?', method: :delete %></td>
        <% else %>
            <td></td>
        <% end %>
      </tr>
    <% end %>
    </table>

    <div class="actions">
        <%= will_paginate @users, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
        <% if can? :create, @user %>
            <%= link_to 'New User', new_user_path, :class => 'btn' %>
        <% end %>
    </div>
