<h1>Listing users</h1>

<table>
  <tr>
    <th>Pledge name</th>
    <th>Class name</th>
    <th>Birthday</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Role</th>
    <th>Alumni</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.pledge_name %></td>
    <td><%= user.class_name %></td>
    <td><%= user.birthday %></td>
    <td><%= user.first_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.role %></td>
    <td><%= user.alumni %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
