<table>
  <tr class="tableTitle">
    <td>Personal Info</td>
  </tr>
</table>
<table>
    <thead><th><%= "#{@user.first_name} \"#{@user.pledge_name}\" #{@user.last_name}" %></th></thead>
    <tr><td><%= "#{@user.class_name} Class" %></td></tr>
    <tr><td><%= number_to_phone @user.phone %></td></tr>
    <tr><td>Birthday: <%= @user.birthday.strftime("%m/%d/%y") %></td></tr>
    <tr><td><%= "#{(!@user.alumni)? 'Student' : 'Alumni'}" %></td></tr>
    
</table>

<% if @attendance.size > 0 %>

</br>
<table>
  <tr class="tableTitle">
    <td>Attendance - Late: <%= @late_events.size %> / Absent: <%= @absent_events.size %></td>
  </tr>
</table>
<table>
  <thead>
    <th>Date</th>
    <th>Event</th>
    <th>Present?</th>
    <th>Late?</th>
  </thead>

  <% @attendance.each do |attendance| %>
    <tr>
      <td><%= attendance.event.date.strftime("%m/%d/%y") %></td>
      <td><%= link_to attendance.event.name, event_path(attendance.event) %></td>
      <td class="<%= "#{(attendance.present)? 'green' : 'red'}" %>"></td>
      <td class="<%= "#{(attendance.late)? 'orange' : ''}" %>"></td>
    </tr>
  <% end %>
</table>
<% end %>
<% if @transactions.size > 0 %>

</br>
<table>
  <tr class="tableTitle">
    <td>Transactions</td>
  </tr>
</table>

<table>

  <thead>
    <th>Date</th>
    <th>Amount</th>
    <th>Description</th>
  </thead>

  <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.date.strftime("%m/%d/%y") %></td>
      <td><%= link_to number_to_currency(transaction.amount), transaction_path(transaction) %></td>
      <td><%= transaction.description %></td>
    </tr>
  <% end %>

  <tr>
  <td>Total</td>
  <% sum = 0.0 %>
  <% @transactions.each {|t| sum += t.amount} %>
  <td><%= number_to_currency(sum) %></td>
  <td></td>

</table>
<% end %>
<br/>

<% if @user_positions.size > 0 %>

</br>
<table>
  <tr class="tableTitle">
    <td>Positions</td>
  </tr>
</table>
<table>
  <thead>
    <th>Name</th>
    <th>Year</th>
  </thead>

  <% @user_positions.each do |user_position| %>
    <tr>
      <td><%= user_position.position.name %></td>
      <td><%= link_to user_position.semester.name, semester_path(user_position.semester) %></td>
    </tr>
  <% end %>
</table>
<% end %>
<br/>

<div class="actions">
  <%= will_paginate @attendance, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <%= link_to 'Back', users_path, :class => 'btn'  %>
</div>