<%= nested_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :cols => 83 %>
  </div>
  <div class="field"> 
    <%= f.label :document %><br /> 
    <%= f.file_field :document %>
  </div>
<% @users.each do |user| %>
      <div class="field">
        <%= user.proper_name %><br/>
        <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
          <%= hidden_field_tag "event[event_attendances_attributes][#{user.id-1}][id]", @event.event_attendances.find_by_user_id(user.id).id %>
        <% end %>
        <%= hidden_field_tag "event[event_attendances_attributes][#{user.id-1}][event_id]", @event.id %>
        <%= hidden_field_tag "event[event_attendances_attributes][#{user.id-1}][user_id]", user.id %>
        <%= hidden_field_tag "event[event_attendances_attributes][#{user.id-1}][present]", 0 %>
        <%= check_box_tag "event[event_attendances_attributes][#{user.id-1}][present]", 1, user.present?(@event) , id: "#{user.id-1}_present" %>
  <%= label_tag "#{user.id-1}_present", "Present" %><br>
        <%= hidden_field_tag "event[event_attendances_attributes][#{user.id-1}][late]", 0 %>
        <%= check_box_tag "event[event_attendances_attributes][#{user.id-1}][late]", 1, user.late?(@event) , id: "#{user.id-1}_late" %>
  <%= label_tag "#{user.id-1}_late", "Late" %><br>
        
      </div>
    <% end %>
  <%# end %>
  <div class="actions">
    <%= f.submit :class => 'btn' %>
    <%= link_to 'Back', events_path, :class => 'btn' %>
  </div>
<% end %>
