<table>
  <tr class="tableTitle">
    <td>Date</td>
    <td>Name</td>
    <td>Present</td>
    <td>Late</td>
    <td>Absent</td>
    <td></td>
    <td></td>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.date.strftime("%m/%d/%y") %></td>
    <td><%= link_to event.name, event_path(event) %></td>
    <% ea = event.take_attendance %>
    <td><%= ea[0] %></td>
    <td><%= ea[1] %></td>
    <td><%= ea[2] %></td>
    <% if can? :update, event %>
      <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <% else %>
        <td></td>
    <% end %>
    <% if can? :destroy, event %>
      <td><%= link_to 'Delete', event, confirm: 'Are you sure?', method: :delete %></td>
    <% else %>
        <td></td>
    <% end %>
  </tr>
<% end %>
</table>


<div class="actions">
  <%= will_paginate @events, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
  <% if can? :create, Event %>
    <%= link_to 'New Event', new_event_path, :class => 'btn' %>
  <% end %>
</div>
