<%= form_for(@user_position) do |f| %>
  <% if @user_position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_position.errors.count, "error") %> prohibited this user_position from being saved:</h2>

      <ul>
      <% @user_position.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.student, :id, :proper_name, :prompt => "Select... " %>
  </div>
  <div class="field">
    <%= f.label :position_id %><br />
    <%= f.collection_select :position_id, Position.all, :id, :name, :prompt => "Select... " %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
