<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_position.user_id %>
</p>

<p>
  <b>Position:</b>
  <%= @user_position.position_id %>
</p>

<p>
  <b>Year:</b>
  <%= @user_position.year %>
</p>

<p>
  <b>Semester:</b>
  <%= @user_position.semester %>
</p>


<%= link_to 'Edit', edit_user_position_path(@user_position) %> |
<%= link_to 'Back', user_positions_path %>
