<p id="notice"><%= notice %></p>

<table>
  <tr class="tableTitle">
    <td>Transaction Info</td>
  </tr>
</table>

<table>
	  <thead><th><%= @transaction.user.proper_name %></th></thead>
    <tr><td><%= @transaction.date.strftime("%m/%d/%y") %></td></tr>
    <tr><td><%= number_to_currency @transaction.amount %></td></tr>
    <tr><td><%= @transaction.description %></td></tr>
</table>

<div class="actions">
<%= link_to 'Edit', edit_transaction_path(@transaction), :class => 'btn' %>
<%= link_to 'Back', transactions_path, :class => 'btn' %>
</div>