<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @event_attendance.user.proper_name %>
</p>

<p>
  <b>Event:</b>
  <%= @event_attendance.event.name %>
</p>

<p>
  <b>Present:</b>
  <%= @event_attendance.present %>
</p>

<p>
  <b>Late:</b>
  <%= @event_attendance.late %>
</p>


<%= link_to 'Edit', edit_event_attendance_path(@event_attendance) %> |
<%= link_to 'Back', event_attendances_path %>
