<!DOCTYPE html>
<html>
<head>
  <title>CMUPdp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <%= yield %>
</div>

<div id="user_nav">
  <% if logged_in? %>
  	<p>[<%= current_user.proper_name %>: <%= current_user.role.capitalize %>]</p>
   	<%= link_to 'Logout', logout_path, :class => "btn mini" %>
  <% else %>
    <%= link_to 'Login', login_path, :class => "btn mini" %>
  <% end %>
</div>

</body>
</html>
