<!DOCTYPE html>
<html>
<head>
  <title>CMU Pi Delta Psi</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!--[if lte IE 9]><link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" /><![endif]-->
  <%= stylesheet_link_tag "1140", :media => "all" %>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>



</body>
</html>
